.button {
    padding: .75rem 1rem;
    border: 2px solid;
    border-radius: .25rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.button--dark {
    color: white;
    border: 2px solid var(--gray-900);
    background-color: var(--gray-900);
}

.button--outline {
    color: var(--gray-900);
    background-color: unset;
}