.collection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.collection__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection__product .collection__header {
    flex-direction: column;
    align-items: flex-start;
}

.collection__header .collection__title {
    color: var(--gray-900);
    font-size: 2rem;
    font-weight: 700;
}

.collection__product .collection__title,
.collection__author .collection__title {
    color: var(--gray-900);
    font-size: 1.25rem;
}

.collection--preview .collection__button {
    border: 0;
    border-radius: .25rem;
    padding: .75rem 1rem;
    color: var(--gray-100);
    background-color: var(--gray-900);
    font-weight: 700;
    cursor: pointer;
}

.collection__grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}



.collection__product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    text-decoration: none;
}

.collection__author {
    text-align: center;
    text-decoration: none;
}

.collection__publisher {
    display: block;
    width: 100%;
}

.collection__product .collection__image{
    width: 100%;
    aspect-ratio: 9/13;
    margin-bottom: 1rem;
    border-radius: .75rem;
    background-color: var(--gray-600);
    object-fit: scale-down;
}

.collection__author .collection__image {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
    border-radius: 100%;
    background-color: var(--gray-600);
}

.collection__publisher .collection__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: scale-down;

}


.collection__product-title,
.collection__author-title {
    margin-bottom: .25rem;
    color: var(--gray-900);
}


.collection__product .collection__author {
    color: var(--gray-800);
}

.collection__text {
    color: var(--gray-800);
}

.collection__price {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.collection__badge {
    color: white;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .125rem;
    background-color: var(--gray-800);
    font-size: .75rem;
    font-weight: 600;
}

.collection__price-old {
    display: block;
    color: var(--gray-800);
    font-weight: 600;
    text-decoration: line-through;
}

.collection__price-regular {
    display: block;
    color: var(--gray-900);
    font-size: 1.5rem;
    font-weight: 600;
}


@media screen and (max-width: 992px) {
    
    .collection__grid {
        grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (max-width: 768px) {

    .collection__grid {
        grid-template-columns: repeat(2,1fr);
    }

}
