.navbar {
    position: relative;
    z-index: 999;
    background-color: var(--gray-900);
}

.navbar__grid {
    display: grid;
    grid-template-areas: 
    'brand search profile'
    'nav nav nav';
    gap: 1.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem ;
}

.navbar__toggle {
    width: 2rem;
    border: 0;
    background-color: var(--gray-900);
    cursor: pointer;
}

.navbar__toggle--nav {
    grid-area: toggle-nav;
    display: none;
}

.navbar__toggle--cart {
    margin-left: 2rem;   
}

.navbar__toggle-icon {
    color: var(--gray-100);
    font-size: 2rem;
}

.navbar__brand {
    grid-area: brand;
}

.navbar__brand-text {
    color: var(--gray-100);
    font-size: 2rem;
    text-decoration: none;
}

.navbar__search {
    grid-area: search;
}

.navbar__search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .5rem;
}

.navbar__search-input {
    flex: 1;
    padding: .75rem 0rem .75rem 1rem;
    border: unset;
    outline: unset;
    font-size: 1rem;
}

.navbar__toggle--search {
    width: unset;
    padding: .75rem  1rem;
    border: 0;
    background-color: white;
    font-size: 1rem;
}

.navbar__toggle--search .navbar__toggle-icon {
    color: var(--gray-900);
    font-size: 1rem;
}

.navbar__profile {
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-left: auto;
}

.navbar__profile-info {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.navbar__profile-icon {
    color: var(--gray-100);
    font-size: 2rem;
}

.navbar__profile-title {
    color: var(--gray-100);
    font-size: .875rem;
    font-weight: 700;
}

.navbar__profile-link {
    color: var(--gray-100);
    font-size: .875rem;
    font-weight: 400;
    text-decoration: none;
}

.navbar__nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    list-style-type: none;
}

.navbar__nav-item--toggle {
    display: none;
}

.navbar__nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray-100);
    text-decoration: none;
}

.navbar__nav-icon {
    font-size: 1rem;
}



@media screen and (max-width: 992px) {

    .navbar__grid {
        grid-template-areas: 
        'toggle-nav brand profile'
        'search search search';
    }

    .navbar__brand {
        text-align: center;
    }

    .navbar__search {
        margin-top: 1rem;
    }

    .navbar__toggle--nav {
        display: block;
    }

    .navbar__nav {
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        overflow-y: scroll;
        flex-direction: column;
        gap: 0;
        width: 16rem;
        margin-top: 0;
        background-color: white;
        transition: left ease-out 100ms;
        box-shadow: .125rem .125rem .5rem rgba(0, 0, 0, 0.123);
    }

    .navbar__nav-item {
        width: 100%;
    }

    .navbar__nav-item--toggle {
        display: block;
        padding: 1rem;
    }

    .navbar__nav-item--toggle .navbar__toggle {
        margin-left: auto;
        background-color: white;
    }

    .navbar__nav-item--toggle .navbar__toggle-icon {
        color: var(--gray-900);
    }
    
    .navbar__nav-link {
        width: 100%;
        padding: 1rem;
        color: var(--gray-900);
    }

    .navbar__nav-link:hover {
        background-color: var(--gray-200);
    }
    
    .navbar__nav-icon {
        font-size: 1rem;
    }

    .navbar__toggle--cart {
        margin-left: 0;
    }

    .navbar__profile-info {
        display: none !important;
    }  

}


